body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;

    /* body 자체를 flex container로 사용하기 위함 */
    display: flex; 

    /* 주축 정렬을 사용하기 위함 */
    justify-content: center;

    /* 교차축을 설정 */
    align-items: center;

    height: 100vh;
    margin: 0;
}
.container{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 300px;
}

h1{
    text-align: center;
    color: #333;
}
label{
    margin-top: 10px;
    display: block;
    color: #555;
}
input[type="text"], input[type="email"],input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"]{
    background-color: #5cb85c;
    color: white;
    border: 0;
    margin-top: 15px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: #4cae4c;
}